* {
  margin: 0;
  padding: 0;
}

.App {
  color: aliceblue;
  text-align: center;
}

.a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.user {
  background-color: wheat;
  width: 300px;
  color: black;
  margin-bottom: 20px;
  padding: 10px 0;
}